@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenger";
  src: local("Avenger"),
    url("./medias/fonts/avenger.ttf") format("truetype");
  font-weight: normal;
}
*{
  
}
body{
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

.App{
  background-color: rgb(0 7 16);
}
.appF{
  background-color: rgb(7 13 26);
}
.active{
  color: rgb(239 68 68);
  letter-spacing: 0.1em;
  font-weight: bold;
}
.wTitle{
  font-size: min(50px, 10vw);
}
.title-top{
  font-size: max(20px, 2.5vw);
  letter-spacing: 5px;
  font-family: 'Avenger', sans-serif;
}
.nTitle{
  font-size: min(70px, 12vw);
  font-family: 'Avenger', sans-serif;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.cTitle{
  font-size: min(34px, 12vw);
  font-family: 'Avenger', sans-serif;
  letter-spacing: 5px;
}
.cartTitle{
  font-size: min(24px, 12vw);
}
.card{
  background-color: #0c112080;
}


.titleCard{
  font-family: 'Avenger', sans-serif;
  letter-spacing: 2px;
}

.container{

}

thead{
  background-color: rgba(255, 23, 23, 0.226);

}
tbody{
  border-bottom: 2px solid  rgba(255, 23, 23, 0.151);;
}
tr{
  border-bottom: 2px solid  rgba(255, 23, 23, 0.151);;
}

.popup{
  background-color: #0a1220;
  display: grid;
  transform: translateX(250px);
}

.show{
  display: grid !important;
  animation: show 3.9s ease-in-out;
}

@keyframes show {
  0%{
    transform: translateX(250px);
  }
  30%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(0);
  }
  70%{
    transform: translateX(0);
  }
  90%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(250px);
  }
}